.container {
  display: flex;
  justify-content: center;
}

.card {
    text-align: center;
    height: 250px;
    border: 2px solid gray;
    border-radius: 10px;
    background-color: var(--putih-6)
}

.card_body {
    margin-left: 6px;
    text-align: start;
    width: 100%;
    padding: 10px;
    font-size: 16px;
}

.card_body h5 {
    font-size: 16px;
}

.link {
    text-decoration: none;
    color: black;
}

.img {
    border-radius: 10px;
}

