.container {
  display: flex;
  justify-content: center;
}

.card {
    text-align: center;
    height: 250px;
    border: 3px solid black;
    border-radius: 10px;
    background-color: var(--putih-6)
}

.card_body {
    text-align: start;
    width: 10px;;
}

.link {
    text-decoration: none;
    color: black;
}

.img {
    border-radius: 10px;
}

