.getrich {
    background-color: var(--ijo-3);
    padding: 10px;
    border-radius: 15px;
    display: flex;
    width: 100%;
}

.saldo {
    width: 100%;
}

.getrich_saldo_btn {
    border: none;
    outline: none;
    background-color: var(--ijo-muda-5);
    border-radius: 5px;
    text-align: start;
    width: 100%;
    height: 45px;
    font-size: 12px;
    color: var(--putih-6);
}

.arr_btn_container {
    display: flex;
    justify-content: space-around;
    height: 45px;
    width: 100%;
}

.arr_btn {
    text-align: center;
    color: var(--putih-6);
}

.getrich_arr_icon {
    border: none;
    outline: none;
    background-color: transparent;
}

.label {
    font-size: 10px;
    display: block;
}

