.search_box {
    justify-content: center;
    display: flex;
}

.search_icon {
    border: 3px solid var(--abu-agak-gelap);
    border-right: none;
    outline: none;
    background-color: var(--putih-6);
    padding: 5px;
    border-radius: 30px 0 0 30px;
}

.search_form {
    border-left: none;
    border-right: none;
    border-top: 3px solid var(--abu-agak-gelap);
    border-bottom: 3px solid var(--abu-agak-gelap);
    padding: 10px;
    width: 100%;
}

.search_form:focus {
    outline: none;
}

.search_setting {
    border: 3px solid var(--abu-agak-gelap);
    border-left: none;
    outline: none;
    background-color: var(--putih-6);
    padding: 5px;
    border-radius: 0 30px 30px 0;
}

.getrich {
    text-align: center;
    margin-top: 20px;
    background-color: var(--ijo-3);
}

